---
---

@import "{{ site.theme }}";

html, body, header, .container, #main_content, section {
    background-color: red !important;
}

body {
    color: white !important;
}

a {
    text-decoration: none;
    color: white !important;
}