---
---

@import "{{ site.theme }}";

/* 整个页面强制纯红 */
html,
body,
header,
section,
.container,
#main_content,
#main_content_wrap,
footer {
  background: red !important;
  background-color: red !important;
  background-image: none !important;
  box-shadow: none !important;
}

// /* 文字颜色 */
// body,
// p,
// li,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: white !important;
// }


/* 有些主题会给 section 加边框/阴影 */
section {
  border: none !important;
}